@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <h2>Cadastrar</h2>
    <div class="col-md-4">
        <a href='@Url.Action("Index","Condominio")' , class="btn btn-block btn-primary">Condominio</a>
    </div>
    <div class="col-md-4">
        <a href='@Url.Action("Index","Usuario")' , class="btn btn-block btn-danger">Usuario</a>
    </div>
    <div class="col-md-4">
        <a href='@Url.Action("Index","Assunto")' , class="btn btn-block btn-default">Assunto</a>
    </div>
</div>
<div class="row">
    <h2> Enviar</h2>
    <div class="col-md-4">
        <a href='@Url.Action("Index","Envio")', class="btn btn-block btn-info">Enviar</a>
    </div>
</div>