@{
    ViewBag.Title = "Usuario";
}

<div class="row">
    <div class="col-md-1">
        <a href="@Url.Action("Index","Usuario")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br />
<form>
    <div class="row">
        <h2>Editar Usuario</h2>

        <input type="hidden" id="idUsu" value="-1" />
        <div class="col-md-4">
            <h4>Nome</h4>
            <input type="text" class="form-control" id="nomeUsu" value="" placeholder="Nome..." />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <h4>Email</h4>
            <input id="emailUsu" class="form-control" type="email" value="" placeholder="Email..." />
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-4">
            <h4>Condominio</h4>
            <select class="form-control" id="condominioSelect">
                <option value="-1"></option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4" id="divTipoUsu">
            <h4>Tipo de Usuário</h4>
            <div>
                Morador
                <input type="radio" name="tipo" value="1" checked />
            </div>
            <div>
                Sindico
                <input type="radio" name="tipo" value="2" />
            </div>
            <div>
                Administradora
                <input type="radio" name="tipo" value="3" />
            </div>
            <div>
                Zelador
                <input type="radio" name="tipo" value="4" />
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-block btn-primary" id="updateUser">Salvar</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/Areas/Usuario.js"></script>
<script type="text/javascript">
    $.UsuarioAPI().Init()
    $.UsuarioAPI().Methods.popularCondominiosCarregar();
</script>