@{
    ViewBag.Title = "Usuarios";
}

<div class="row">
    <div class="col-md-1">
        <a href="@Url.Action("Index","Home")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-12">
        <h2>Usuários</h2>
        <div class="col-md-4">
            <a href="@Url.Action("Criar","Usuario")" class="btn btn-block btn-primary">Criar</a>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <h2>Usuarios Registrados</h2>
        <div id="divUsu">

        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Areas/Usuario.js"></script>
<script type="text/javascript">
    $.UsuarioAPI().Init()
    $.UsuarioAPI().Methods.popularUsuarios();
</script>