@{
    ViewBag.Title = "Criar";
}

<div class="row">
    <div class="col-md-1">
        <a href="@Url.Action("Index","Condominio")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br />
<form>
    <div class="row">
        <h2>Criar Condominio</h2>
        <div class="col-md-12">
            <input type="hidden" id="idCondo" value="-1" />
                <h4>Nome</h4>
                <input id="nomeCondo" class="form-control" value="" placeholder="Nome..." />
            </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <h4>Administradora</h4>
            <select class="form-control" id="selectAdmin">
                <option value="-1">Selecione...</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4" id="divResponsavel">
            <h4>Responsável</h4>
            <div>
                Sindico
                <input type="radio" name="tipo" value="2" checked/>
            </div>
            <div>
                Zelador
                <input type="radio" name="tipo" value="4" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <button id="submitCondo" class="btn btn-block btn-primary">Criar</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4" style="display:none">
            <button id="submitAdmin" class="btn btn-block btn-danger">Criar Administradora</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Areas/Condominio.js"></script>
<script type="text/javascript">
    $.CondominioAPI().Init();
    $.CondominioAPI().Methods.popularDropdownAdministradora();
</script>