@{
    ViewBag.Title = "Criar";
}

<div class="row">
    <div class="col-md-1">
        <a href="@Url.Action("Index","Condominio")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br />
<form>
    <div class="row">
        <div class="col-md-12">
            <h2>Criar</h2>
            <input type="hidden" id="idCondo" value="-1" />
            <div class="col-md-4">
                <input id="nomeCondo" class="form-control" value="" placeholder="Nome..." />
            </div>

            <div class="col-md-4">
                Administradora
                <select class="form-control" id="selectAdmin">
                    <option value="-1"></option>
                </select>
            </div>

            <div class="col-md-4" id="divResponsavel">
                Responsável
                <div>
                    Sindico
                    <input type="radio" name="tipo" value="2" />
                </div>
                <div>
                    Zelador
                    <input type="radio" name="tipo" value="4" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button id="submitCondo" class="btn btn-block btn-primary">Criar</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Areas/Condominio.js"></script>
<script type="text/javascript">
    $.CondominioAPI().Init()
</script>