@{
    ViewBag.Title = "Assunto";
}


<div class="row">
    <div class="col-md-1">
        <a href="@Url.Action("Index","Home")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h2>Assuntos</h2>
        <div class="col-md-4">
            <a href="@Url.Action("Criar","Assunto")" class="btn btn-block btn-primary">Criar</a>
        </div>
    </div>
</div>