@{
    ViewBag.Title = "Envio de email";
}
<div class="row">

    <div class="col-md-1">
        <a href="@Url.Action("Index","Home")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h4>Email de Origem</h4>
        <select class="form-control" id="selectUser">
            <option value="-1">Selecione...</option>
        </select>
    </div>
    <div class="col-md-12">
        <h4>Assunto</h4>
        <select class="form-control" id="selectAssunto">
            <option value="-1">Selecione...</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <h4>Mensagem</h4>
        <textarea cols="100" rows="5" id="corpo" placeholder="Digite aqui sua mensagem...."></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button class="btn btn-block btn-primary" id="enviarEmail">Enviar</button>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/Areas/EnviarEmail.js"></script>
<script type="text/javascript">
    $.EnvioAPI().Init()
    $.EnvioAPI().Methods.popularDropdownEmails();
</script>