@{
    ViewBag.Title = "Envio de email";
}
<div class="row">

    <div class="col-md-1">
        <a href="@Url.Action("Index","Home")" class="btn btn-block btn-danger">Voltar</a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <h4>Email de Origem</h4>
        <select class="form-control">
            <option value="-1"></option>
        </select>
    </div>
    <div class="col-md-6">
        <h4>Tipo</h4>
        <div>
            Administrativo
            <input type="radio" name="tipo" value="1" checked />
        </div>
        <div>
            Condominal
            <input type="radio" name="tipo" value="2" />
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <textarea cols="100" rows="5" name="corpo" id="corpo" placeholder="Digite aqui sua mensagem...."></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <button class="btn btn-block btn-primary" onclick="EnviarEmail()">Enviar</button>
    </div>
</div>